/* Hide scrollbars */
body {
    overflow: hidden;
  }
/* Hide scrollbars */

/* music player starts*/

.music .play{
    height: 15px;
    width: 15px;
    padding-left: 10px;
    padding-top: 9px;
}

/* music player Ends*/

/*
-----------------------------------------------------------------
----------------------------Pages--------------------------------
-----------------------------------------------------------------
*/
/* Goals page starts*/
.show-goals-content{
    font-family: "Montserrat",sans-serif;
    color: rgb(0, 0, 0);
}
.show-goals-content h1{
    text-align: center;
    color: #eee;
}
.show-goals-content h2, .show-goals-content h2{
    padding-left: 20px;
    text-align: center;
    color: #eee;
}
.show-goals-content p{
    padding-left: 40px;
    color: #eee;
}
.show-goals-content li{
    margin-left: 20px;
    color: #eee;
}
.goals-pop-up{
    position: absolute;
    width: 1000px;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%,-50%) scale(1);
    padding: 20px 30px;
    background: #0c0c0c;
    box-shadow: 2px 2px 5px 5px rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}
.goals-pop-up.active{
    top: 50%;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}
.goals-pop-up .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}
.blur-body{
  opacity: 100%;
}
.blur-body.active{
  color: black;
  opacity: 30%;
  filter: blur(3px);
  overflow: hidden;
}

/* Goals page ends*/

/* Career page starts*/

.show-career-content p{
    
    padding-right: 1rem;
}
.show-career-content img{
    height: 200px;
    width: 200px;
    padding-left: 29%;
    cursor: pointer;
}
.show-career-content{
    font-family: "Montserrat",sans-serif;
    color: rgb(0, 0, 0);
}
.show-career-content h1{
    text-align: center;
    color: #eee;
}
.show-career-content h2, .show-goals-content h3 {
    padding-left: 20px;
    color: #eee;
}
.show-career-content p{
    padding-left: 40px;
    color: #eee;
}
.career-pop-up{
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%,-50%) scale(1);
    padding: 20px 30px;
    background: #0c0c0c;
    box-shadow:  2px 2px 5px 5px rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}
.career-pop-up.active{
    top: 50%;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}
.career-pop-up .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}
/* Career page Ends*/

/* meet-team page starts*/

.show-meet-team-content{
    font-family: "Montserrat",sans-serif;
    color: rgb(0, 0, 0);
}
.show-meet-team-content h1{
    text-align: center;
    color: #eee;
}
.show-meet-team-content h2, .show-goals-content h3 {
    padding-left: 20px;
    color: #eee;
}
.show-meet-team-content p{
    padding-left: 40px;
    color: #eee;
}
.meet-team-pop-up{
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%,-50%) scale(1);
    padding: 20px 30px;
    background: #0c0c0c;
    box-shadow:  2px 2px 5px 5px rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}
.meet-team-pop-up.active{
    top: 50%;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}
.meet-team-pop-up .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.team-members-container{
    display: block;
    width: 600px;
    height: 600px;
}
.team-members{
    display: flex;
    justify-content: space-between;
}

/* Three columns side by side */
.column {
    background-color: #eee;
    float: left;
    width: 43%;
    margin-left: 16px;
    margin-bottom: 16px;
    padding: 0 8px;
    border-radius: 5px;
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  /* Add some shadows to create a card effect */
  .card {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(152, 152, 152, 0.2);
  }
  
  /* Some left and right padding inside the container */
  .member-container {
    margin-top: 0;
    padding-top: 0;
    padding: 0;
  }
  
  /* Clear floats */
  .member-container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: rgb(7, 7, 7);
}

.card img{
    border-radius: 5px;
    padding-top: 15px;
}
.card h2, .card p{
    color: #0c0c0c;
}
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    background-color: #0c0c0c;
    color: rgb(255, 255, 255);
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
.button-s1{
    background-color: rgb(1, 37, 148);
    padding-right: 0px;
    margin-right: 0px;
}
.button-s2{
    background-color: rgb(0, 0, 0);
}


/* meet-team page Ends*/

/* terms page starts*/

.show-terms-content{
    font-family: "Montserrat",sans-serif;
    color: rgb(0, 0, 0);
}
.show-terms-content h1{
    text-align: center;
    color: #eee;
}
.show-terms-content h2, .show-goals-content h3 {
    padding-left: 20px;
    color: #eee;
}
.show-terms-content p{
    padding-left: 40px;
    color: #eee;
}
.terms-pop-up{
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%,-50%) scale(1);
    padding: 20px 30px;
    background: #0c0c0c;
    box-shadow:  2px 2px 5px 5px rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}
.terms-pop-up.active{
    top: 50%;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}
.terms-pop-up .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

    /* terms page Ends*/

/* sub-pages Ends*/


/* Who we are? page starts*/

.show-we-content{
    font-family: "Montserrat",sans-serif;
    color: rgb(0, 0, 0);
}
.show-we-content h1{
    text-align: center;
    color: #eee;

}
.show-we-content h2, .show-we-content h3 {
    padding-left: 0px;
    color: #eee;
}
.show-we-content p{
    padding-left: 40px;
    color: #eee;
}
.we-pop-up{
    position: absolute;
    height: 600px;
    width: 800px;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%,-50%) scale(1);
    padding: 20px 30px;
    background: #0c0c0c;
    box-shadow: 2px 2px 5px 5px rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}
.we-pop-up.active{
    top: 50%;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
    overflow-y:scroll;
    
}

.we-pop-up .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.we-pop-up iframe{
    border-radius: 5px;
    margin-left: 9.5%;
    width:650px;
    height:315px;
}

    /* Who we are? page Ends*/